.root
{
    -fx-background-color: black;
}
.button
{
    -fx-background-color: transparent;
    -fx-text-fill: blue;
}
.button:hover
{
    -fx-text-fill: cornflowerblue;
    -fx-font-size: 30px;
}
#loading
{
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font: 30px Tahoma;
    -fx-stroke-width: 1;
}

#search
{
    -fx-text-fill: white;
    -fx-font: 15px Tahoma;

}
#earch
{
    -fx-text-fill: red;
    -fx-font: 15px Tahoma;

}